*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    text-decoration: none;

}

body{
    background-size:100%;
    background: linear-gradient(63deg, #000000 38.43%, #737373 80.55%, #56AE71 95.85%);
    background-repeat: no-repeat;
    color: aliceblue;
}
img{display: block; border-radius: 100%;}