*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    text-decoration: none;

}

body{
    background-size:100%;
    background: white;
    background-repeat: no-repeat;
    color: aliceblue;
}

img{display: block;}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    font-family: KoHo;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFF 0%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.titulo{

    .titulo_nome{
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
    }

    .titulo_subtitulo{
        width: 248px;
        height: 25px;
        flex-shrink: 0;
    }
    
}

.imagem_principal{
img{ width: 1359px;
    height: 1069px;
    flex-shrink: 0;}
}

.sobre_carreira{
    padding: 24px;
    background: #5F8D6E;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    img{display: block; border-radius: 100%;}
    
    h1{background: linear-gradient(0deg, #5F8D6E 0%, #5F8D6E 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    p{overflow: hidden;
        color: #FFF;
        
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Kantumruy;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: lowercase;}    
}
.sobre_projetos{
    padding: 24px;
    background: #5F8D6E;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    img{display: block; border-radius: 40%;}
    
    h1,h2{background: linear-gradient(0deg, #5F8D6E 0%, #5F8D6E 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
}
.sobre_review{
    padding: 24px;
    background: #5F8D6E;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    img{display: block; border-radius: 40%;}
}

